# Environment and secret config files
.env
env.txt

# UMLS DATA - NEVER COMMIT (COPYRIGHT PROTECTED)
# The UMLS Metathesaurus is licensed content from the National Library of Medicine
# Users must obtain their own UMLS license at: https://uts.nlm.nih.gov/license.html
umls_data/
META/
quickumls_cache/
umls_lookup.db
*.umls*
*MRCONSO*
*MRSTY*
*MRREL*
*MRSAT*
*MRDEF*
*MRHIER*
*MRXW*
*MRXNS*
*AMBIG*
*MRCUI*
*MRCOLS*
*MRDOC*
*MRFILES*
*MRMAP*
*MRRANK*
*MRSAB*
*MRSMAP*

# Other sensitive data
*.key
*.pem
credentials.json

# DRG source raw data (CMS) - never commit
drg_source/
*.zip
*.ZIP