# Environments
.env
.env*.local
.env.txt
venv/
.venv
env/
instance/

# UMLS DATA - NEVER COMMIT (COPYRIGHT PROTECTED)
umls_data/
**/umls_data/
**/META/
META/
quickumls_cache/
**/quickumls_cache/
*.umls*
*MRCONSO*
*MRSTY*
*MRREL*
*MRSAT*
*MRDEF*
*MRHIER*
*MRXW*
*MRXNS*
umls_lookup.db
**/umls_lookup.db

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Database
*.sqlite3
*.db

# Logs and temporary files
*.log
*.log.*
.webassets-cache
.pytest_cache/
.tox/
.coverage
.cache

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db